h1 {
    text-align:center;
}

.executable-title {
    text-align:center;
}

.executable-container {
    border-radius:5px;
    background-color:#6d6d6d;
}

.executable-container .executable-col {
    padding:0;
}

.executable-container .executable {
    border-radius:5px;
    background-color:#2e2e2e;
    margin:5px;
    padding:5px;
}

.executable-container a {
    color:white;
    text-decoration:none;
}
