<h3 class="executable-title">{{ blocTitle }}</h3>
<div class="executable-container container-fluid">
    <div class="row">
        {% for executable in executableList %}
            <div class="executable-col col-xs-12 col-sm-6 col-md-3">
                <a href="{{ executable.uri }}" title="{{ executable.name }} ({{ executable.uri }})">
                    <div class="executable">
                        <img src="{{ executable.icon.path }}" alt="{{ executable.icon.alt }}"/>
                        {{ executable.name }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
