<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>Locahost Apache2</title>
        <link rel="stylesheet" href="{{ ROOT_DIR }}/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="{{ ROOT_DIR }}/bower_components/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="{{ ROOT_DIR }}/src/Resources/public/style/index.css">
        <script src="{{ ROOT_DIR }}/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    </head>

    <body>
        <h1>Localhost</h1>
        {% include "bloc.html.twig" with {'blocTitle': 'Sites', 'executableList': executables.vhosts } %}
        {% include "bloc.html.twig" with {'blocTitle': 'Répertoires', 'executableList': executables.directories } %}
        {% include "bloc.html.twig" with {'blocTitle': 'Fichiers', 'executableList': executables.scripts } %}
    </body>
</html>
